@font-face
  font-family: 'Dyr-eleApp'
  src:  url('../fonts/Dyr-eleApp.eot?hc582c')
  src:  url('../fonts/Dyr-eleApp.eot?hc582c#iefix') format('embedded-opentype'),
    url('../fonts/Dyr-eleApp.ttf?hc582c') format('truetype'),
    url('../fonts/Dyr-eleApp.woff?hc582c') format('woff'),
    url('../fonts/Dyr-eleApp.svg?hc582c#Dyr-eleApp') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Dyr-eleApp' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-add_circle:before
  content: "\e900"

.icon-arrow_lift:before
  content: "\e901"

.icon-check_circle:before
  content: "\e902"

.icon-close:before
  content: "\e903"

.icon-shopping_cart:before
  content: "\e904"

.icon-thumb_down:before
  content: "\e905"

.icon-thumb_up:before
  content: "\e906"

.icon-arrow_lift2:before
  content: "\e907"

.icon-check_circle2:before
  content: "\e908"

.icon-close2:before
  content: "\e909"

.icon-favorite:before
  content: "\e90a"

